# MongoDB Atlas Connection String
# Direct replica set URI (required for Cloudflare Pages / Workers because Edge runtime does not support DNS SRV resolution)
MONGODB_URI="mongodb://mosabber16376_db_user:46JKde1tjtpaxhOy@ac-odtentf-shard-00-00.8onjvem.mongodb.net:27017,ac-odtentf-shard-00-01.8onjvem.mongodb.net:27017,ac-odtentf-shard-00-02.8onjvem.mongodb.net:27017/next_cloud_db?ssl=true&replicaSet=atlas-6zocl1-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Mosabber"
MONGODB_DB="next_cloud_db"
