# MongoDB Atlas Connection String
# IMPORTANT: Whitelist IP 0.0.0.0/0 in MongoDB Atlas Network Access for Cloudflare Pages
MONGODB_URI="mongodb+srv://mosabber16376_db_user:46JKde1tjtpaxhOy@mosabber.8onjvem.mongodb.net/next_cloud_db?retryWrites=true&w=majority&appName=Mosabber"
MONGODB_DB="next_cloud_db"
