# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/cache

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/out
/.wrangler

# cloudflare pages build output
/.vercel/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# local dev api routes (production uses Cloudflare native /functions)
/app/api
